:root{
  --main-bg-color: #72797A;
  --text-color: #000000;
  --border-color: #808080;
  --canvas-bg-color: #B2B2B2;
  --link-color: #19c;
  --ruler-color: #B2B2B2;
  --icon-bg-color: #72797A;
  --icon-bg-color-hover: #2B3C45;
  --input-color: #B2B2B2;
}
body {
  font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  cursor: default;
  background: var(--main-bg-color);
  height: 95vh;
}
iframe {
  height: 100%;
  width: 100%;
}
